config/n8n-workflows/workflow-communication.json
{
  "name": "Kommunikation & Terminplanung (Communication & Scheduling)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "communication-intake",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook-trigger",
      "name": "Communication Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "communication-intake-webhook",
      "notes": "Receives POSTs from email parser (e.g. Postmark inbound) or WhatsApp gateway. Payload: { channel, sender_email, sender_name, subject, body, attachments[] }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify the intent of the incoming message. Return JSON with fields: { intent: string, confidence: number, language: string, urgency: string, summary: string }. Intent must be exactly one of: appointment_request, quote_request, complaint, payment, general, spam. Urgency: low/medium/high. Confidence: 0.0-1.0.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Channel: {{ $json.body.channel }}\\nFrom: {{ $json.body.sender_name }} <{{ $json.body.sender_email }}>\\nSubject: {{ $json.body.subject }}\\nMessage:\\n{{ $json.body.body }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        },
        "continueOnFail": true
      },
      "id": "node-intent-analysis",
      "name": "OpenAI Intent Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "assign-intent",
              "name": "intent",
              "value": "={{ (() => { try { const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]); return parsed.intent || 'general'; } catch(e) { return 'general'; } })() }}",
              "type": "string"
            },
            {
              "id": "assign-confidence",
              "name": "confidence",
              "value": "={{ (() => { try { const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]); return parsed.confidence || 0.5; } catch(e) { return 0.5; } })() }}",
              "type": "number"
            },
            {
              "id": "assign-summary",
              "name": "summary",
              "value": "={{ (() => { try { const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]); return parsed.summary || ''; } catch(e) { return ''; } })() }}",
              "type": "string"
            },
            {
              "id": "assign-urgency",
              "name": "urgency",
              "value": "={{ (() => { try { const parsed = JSON.parse($json[\"choices\"][0][\"message\"][\"content\"]); return parsed.urgency || 'low'; } catch(e) { return 'low'; } })() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "node-extract-intent",
      "name": "Extract Intent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300],
      "notes": "Parses GPT JSON response into top-level fields (intent, confidence, summary, urgency) for Switch node routing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "appointment_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "quote_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quote_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "payment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "node-intent-switch",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/freebusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeMin\": \"{{ new Date().toISOString() }}\",\n  \"timeMax\": \"{{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString() }}\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"items\": [{\"id\": \"primary\"}]\n}",
        "options": {
          "timeout": 15000
        },
        "continueOnFail": true
      },
      "id": "node-gcal-freebusy",
      "name": "Google Calendar Free/Busy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 140],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cred-google-calendar",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein professioneller Assistent. Verfasse eine freundliche, professionelle E-Mail-Antwort auf Deutsch. Biete genau 2 Terminvorschlaege an. Sei hoeflich und praezise. Schliesse mit einer Bitte um Bestaetigung ab.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Urspruengliche Anfrage von {{ $node[\\\"Communication Webhook\\\"].json.body.sender_name }}: {{ $node[\\\"Communication Webhook\\\"].json.body.body }}\\n\\nVerfuegbare Zeitfenster (naechste 2 Wochen):\\n{{ JSON.stringify($json) }}\\n\\nBitte verfasse eine Antwort-E-Mail mit 2 konkreten Terminvorschlaegen.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        },
        "continueOnFail": true
      },
      "id": "node-draft-appointment-reply",
      "name": "Draft Appointment Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein professioneller Assistent. Verfasse eine freundliche, professionelle Antwort auf Deutsch fuer die jeweilige Anfrage. Passe Ton und Inhalt der Anfrageart an (Angebot, Beschwerde, Zahlung, Allgemein).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Anfrageart: {{ $node[\\\"Extract Intent\\\"].json.intent }}\\nVon: {{ $node[\\\"Communication Webhook\\\"].json.body.sender_name }}\\nBetreff: {{ $node[\\\"Communication Webhook\\\"].json.body.subject }}\\nNachricht: {{ $node[\\\"Communication Webhook\\\"].json.body.body }}\\n\\nBitte verfasse eine professionelle Antwort.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        },
        "continueOnFail": true
      },
      "id": "node-draft-general-reply",
      "name": "Draft General Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "communication_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.channel || 'email' }}"
            },
            {
              "fieldId": "kunde_name",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_name }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'FROM: ' + $node[\"Communication Webhook\"].json.body.sender_email + ' | INTENT: ' + $node[\"Extract Intent\"].json.intent + ' | SUBJECT: ' + $node[\"Communication Webhook\"].json.body.subject + ' | DRAFT: ' + $json[\"choices\"][0][\"message\"][\"content\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "id": "node-supabase-insert-comm-appt",
      "name": "INSERT communication_log (appointment)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 140],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "communication_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.channel || 'email' }}"
            },
            {
              "fieldId": "kunde_name",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_name }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'FROM: ' + $node[\"Communication Webhook\"].json.body.sender_email + ' | INTENT: ' + $node[\"Extract Intent\"].json.intent + ' | SUBJECT: ' + $node[\"Communication Webhook\"].json.body.subject + ' | DRAFT: ' + $json[\"choices\"][0][\"message\"][\"content\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "id": "node-supabase-insert-comm-general",
      "name": "INSERT communication_log (general)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 380],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "communication_appointment_draft"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_email }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ intent: $node[\"Extract Intent\"].json.intent, sender: $node[\"Communication Webhook\"].json.body.sender_email, channel: $node[\"Communication Webhook\"].json.body.channel, urgency: $node[\"Extract Intent\"].json.urgency }) }}"
            }
          ]
        }
      },
      "id": "node-automation-log-appt",
      "name": "INSERT automation_log (appointment draft)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 140],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "communication_general_draft"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_email }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ intent: $node[\"Extract Intent\"].json.intent, sender: $node[\"Communication Webhook\"].json.body.sender_email, channel: $node[\"Communication Webhook\"].json.body.channel, urgency: $node[\"Extract Intent\"].json.urgency }) }}"
            }
          ]
        }
      },
      "id": "node-automation-log-general",
      "name": "INSERT automation_log (general draft)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 380],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', intent: $node[\"Extract Intent\"].json.intent, urgency: $node[\"Extract Intent\"].json.urgency, message: 'Communication processed successfully' }) }}"
      },
      "id": "node-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Failed to process communication\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "node-respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Communication Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Intent Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Intent Analysis": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Google Calendar Free/Busy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Free/Busy": {
      "main": [
        [
          {
            "node": "Draft Appointment Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Appointment Reply": {
      "main": [
        [
          {
            "node": "INSERT communication_log (appointment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft General Reply": {
      "main": [
        [
          {
            "node": "INSERT communication_log (general)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT communication_log (appointment)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (appointment draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT communication_log (general)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (general draft)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT automation_log (appointment draft)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT automation_log (general draft)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["communication", "scheduling", "email", "intent", "zone2"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Kommunikation & Terminplanung\n\n### Fixes Applied (v2)\n- Replaced $credentials.openAiApi.apiKey with $env[\"OPENAI_API_KEY\"]\n- Changed tableId 'communications' -> 'communication_log' (actual schema table)\n- Fixed communication_log columns: channel, kunde_name, direction, message, status\n- Fixed Extract Intent node: uses assignments mode with JSON.parse + fallback instead of deprecated output mode\n- Fixed Switch node: routes on $json[\"intent\"] not $json[\"output\"]\n- Replaced jobs_queue with automation_log (action, target, metadata)\n- Google Calendar uses predefinedCredentialType instead of inline token\n- Added continueOnFail on OpenAI nodes\n- Added error response node\n\n### Setup Required\n1. **Webhook URL**: Configure your email parser (e.g. Postmark, Mailgun) or WhatsApp gateway to POST to the webhook URL.\n2. **Credentials**: Set up 'Supabase API' and 'Google Calendar OAuth2' credentials in n8n.\n3. **Env Vars**: Set OPENAI_API_KEY in n8n environment.\n4. **Switch routing**: Output 0=appointment, 1=quote, 2=complaint, 3=payment, 4=spam, fallback=general.\n\n### Flow\nWebhook -> GPT-4o intent classification -> Switch routing -> Google Calendar (appointments only) -> GPT-4o draft reply -> Supabase communication_log INSERT -> automation_log log -> Webhook response"
}
