config/n8n-workflows/workflow-finom-zapier-sync.json
{
  "name": "Finom Zapier Sync (Bank Transaction Ingest)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finom-transaction",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "node-webhook",
      "name": "Zapier Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "finom-tx-ingest",
      "notes": "Receives transaction events from Zapier Finom integration. URL: https://<n8n-host>/webhook/finom-transaction. Set this URL in your Zapier Zap as the webhook destination."
    },
    {
      "parameters": {
        "jsCode": "// Timing-safe webhook secret comparison\nconst crypto = require('crypto');\nconst secret = $env['FINOM_WEBHOOK_SECRET'] || '';\nconst provided = $input.first().json.headers?.['x-webhook-secret'] || '';\n\nif (!secret || !provided || secret.length !== provided.length) {\n  return [{ json: { authorized: false } }];\n}\n\nconst a = Buffer.from(secret);\nconst b = Buffer.from(provided);\nconst match = crypto.timingSafeEqual(a, b);\n\nreturn [{ json: { authorized: match, body: $input.first().json.body } }];"
      },
      "id": "node-auth-check",
      "name": "Verify Secret (Timing-Safe)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Uses crypto.timingSafeEqual for constant-time secret comparison to prevent timing attacks."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-authorized",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-auth-gate",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "node-reject",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Zapier/Finom payload to our schema\nconst body = $input.first().json.body || {};\nconst tenantId = $env['DEFAULT_TENANT_ID'] || 'a0000000-0000-0000-0000-000000000001';\n\n// Generate external_id if missing (hash from amount+date+counterparty)\nlet externalId = body.transaction_id || body.id || '';\nif (!externalId) {\n  const raw = `${body.amount || 0}_${body.date || ''}_${body.counterparty_name || ''}_${Date.now()}`;\n  let hash = 0;\n  for (let i = 0; i < raw.length; i++) {\n    hash = ((hash << 5) - hash) + raw.charCodeAt(i);\n    hash |= 0;\n  }\n  externalId = 'gen_' + Math.abs(hash).toString(36);\n}\n\nreturn [{ json: {\n  tenant_id: tenantId,\n  external_id: externalId,\n  transaction_date: body.date || body.transaction_date || body.booking_date || new Date().toISOString().split('T')[0],\n  booking_date: body.booking_date || body.date || null,\n  amount: parseFloat(body.amount || body.transaction_amount || 0),\n  currency: body.currency || 'EUR',\n  counterparty_name: body.counterparty_name || body.creditor_name || body.debtor_name || '',\n  counterparty_iban: body.counterparty_iban || body.creditor_iban || body.debtor_iban || '',\n  reference: body.reference || body.remittance_information || body.description || '',\n  category: body.category || '',\n  transaction_type: body.type || body.transaction_type || 'SEPA_TRANSFER',\n  status: body.status || 'booked'\n}}];"
      },
      "id": "node-normalize",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "notes": "Maps Zapier/Finom fields to schema. Generates external_id if missing (M3 fix)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env['SUPABASE_URL'] }}/rest/v1/rpc/finom_insert_transaction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_tenant_id", "value": "={{ $json.tenant_id }}" },
            { "name": "p_external_id", "value": "={{ $json.external_id }}" },
            { "name": "p_transaction_date", "value": "={{ $json.transaction_date }}" },
            { "name": "p_booking_date", "value": "={{ $json.booking_date }}" },
            { "name": "p_amount", "value": "={{ $json.amount }}" },
            { "name": "p_currency", "value": "={{ $json.currency }}" },
            { "name": "p_counterparty_name", "value": "={{ $json.counterparty_name }}" },
            { "name": "p_counterparty_iban", "value": "={{ $json.counterparty_iban }}" },
            { "name": "p_reference", "value": "={{ $json.reference }}" },
            { "name": "p_category", "value": "={{ $json.category }}" },
            { "name": "p_transaction_type", "value": "={{ $json.transaction_type }}" },
            { "name": "p_status", "value": "={{ $json.status }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "node-insert",
      "name": "RPC: Insert Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "notes": "Calls finom_insert_transaction() RPC. Returns new UUID or null if duplicate (ON CONFLICT DO NOTHING). Parameterized — no SQL injection."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "was-inserted",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-was-inserted",
      "name": "Was Inserted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200],
      "notes": "RPC returns UUID if inserted, null if duplicate. Only proceed to matching if new."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env['SUPABASE_URL'] }}/rest/v1/rpc/finom_auto_match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_tenant_id", "value": "={{ $('Normalize Data').item.json.tenant_id }}" },
            { "name": "p_transaction_id", "value": "={{ $('RPC: Insert Transaction').item.json }}" },
            { "name": "p_reference", "value": "={{ $('Normalize Data').item.json.reference }}" },
            { "name": "p_amount", "value": "={{ $('Normalize Data').item.json.amount }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "node-auto-match",
      "name": "RPC: Auto-Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 100],
      "notes": "Calls finom_auto_match() RPC. Returns matched_id, entity_type, method, confidence. Parameterized — no SQL injection."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-match",
              "leftValue": "={{ Array.isArray($json) && $json.length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-match",
      "name": "Match Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env['SUPABASE_URL'] }}/rest/v1/rpc/finom_apply_match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_transaction_id", "value": "={{ $('RPC: Insert Transaction').item.json }}" },
            { "name": "p_tenant_id", "value": "={{ $('Normalize Data').item.json.tenant_id }}" },
            { "name": "p_matched_id", "value": "={{ $json[0].matched_id }}" },
            { "name": "p_entity_type", "value": "={{ $json[0].entity_type }}" },
            { "name": "p_method", "value": "={{ $json[0].method }}" },
            { "name": "p_confidence", "value": "={{ $json[0].confidence }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node-apply-match",
      "name": "RPC: Apply Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0],
      "notes": "Calls finom_apply_match() RPC to link transaction to invoice/buchung."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env['SUPABASE_URL'] }}/rest/v1/rpc/finom_log_sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env['SUPABASE_SERVICE_ROLE_KEY'] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "p_tenant_id", "value": "={{ $('Normalize Data').item.json.tenant_id }}" },
            { "name": "p_sync_type", "value": "zapier_webhook" },
            { "name": "p_synced", "value": "=1" },
            { "name": "p_matched", "value": "={{ $('Match Found?').item.json === true ? 0 : 1 }}" },
            { "name": "p_status", "value": "success" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "node-log-sync",
      "name": "RPC: Log Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 100],
      "notes": "Logs sync event via finom_log_sync() RPC."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Transaction processed\" }",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-ok",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Duplicate, skipped\" }",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-skip",
      "name": "200 Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 360],
      "notes": "Returns 200 for duplicates so Zapier doesn't retry."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Processing failed\" }",
        "options": { "responseCode": 500 }
      },
      "id": "node-error-response",
      "name": "500 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 500],
      "notes": "Error handler — returns 500 if any node fails."
    }
  ],
  "connections": {
    "Zapier Webhook": {
      "main": [
        [{ "node": "Verify Secret (Timing-Safe)", "type": "main", "index": 0 }]
      ]
    },
    "Verify Secret (Timing-Safe)": {
      "main": [
        [{ "node": "Authorized?", "type": "main", "index": 0 }]
      ]
    },
    "Authorized?": {
      "main": [
        [{ "node": "Normalize Data", "type": "main", "index": 0 }],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Data": {
      "main": [
        [{ "node": "RPC: Insert Transaction", "type": "main", "index": 0 }]
      ]
    },
    "RPC: Insert Transaction": {
      "main": [
        [{ "node": "Was Inserted?", "type": "main", "index": 0 }]
      ]
    },
    "Was Inserted?": {
      "main": [
        [{ "node": "RPC: Auto-Match", "type": "main", "index": 0 }],
        [{ "node": "200 Skipped", "type": "main", "index": 0 }]
      ]
    },
    "RPC: Auto-Match": {
      "main": [
        [{ "node": "Match Found?", "type": "main", "index": 0 }]
      ]
    },
    "Match Found?": {
      "main": [
        [{ "node": "RPC: Apply Match", "type": "main", "index": 0 }],
        [{ "node": "RPC: Log Sync", "type": "main", "index": 0 }]
      ]
    },
    "RPC: Apply Match": {
      "main": [
        [{ "node": "RPC: Log Sync", "type": "main", "index": 0 }]
      ]
    },
    "RPC: Log Sync": {
      "main": [
        [{ "node": "200 OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "finom" },
    { "name": "banking" },
    { "name": "zapier" }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "freyai-visions-n8n"
  },
  "pinData": {}
}
