config/n8n-workflows/workflow-dunning.json
{
  "name": "Mahnwesen (Dunning / Receivables)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "timezone": "Europe/Berlin"
      },
      "id": "node-schedule-trigger",
      "name": "Daily 08:00 Berlin",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Runs every day at 08:00 Europe/Berlin. CRON: 0 8 * * *"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rechnungen",
        "returnAll": true,
        "filterType": "string",
        "filterString": "status=eq.offen&zahlungsziel_tage=gt.0"
      },
      "id": "node-get-overdue",
      "name": "SELECT Overdue Rechnungen",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "Fetches rechnungen where status='offen'. Uses Supabase REST filter syntax. Table: rechnungen (columns: id, status, zahlungsziel_tage, brutto, netto, mwst, created_at, paid_at, mahnstufe, letzte_mahnung, kunde_name, kunde_email)."
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "node-split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "days-overdue-calc",
              "name": "days_overdue",
              "value": "={{ Math.max(0, Math.floor((Date.now() - new Date($json[\"created_at\"]).getTime()) / 86400000) - ($json[\"zahlungsziel_tage\"] || 14)) }}",
              "type": "number"
            },
            {
              "id": "due-date-calc",
              "name": "due_date_iso",
              "value": "={{ new Date(new Date($json[\"created_at\"]).getTime() + (($json[\"zahlungsziel_tage\"] || 14) * 86400000)).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "node-calc-days",
      "name": "Calculate Days Overdue",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-overdue-check",
              "leftValue": "={{ $json[\"days_overdue\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-is-overdue",
      "name": "Is Overdue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 300],
      "notes": "Only process invoices that are actually overdue (days_overdue > 0). Skip invoices still within payment terms."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 14,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reminder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 14,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  },
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "first_dunning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  },
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 60,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "second_dunning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"days_overdue\"] }}",
                    "rightValue": 60,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "final_notice"
            }
          ]
        },
        "options": {}
      },
      "id": "node-dunning-level-switch",
      "name": "Dunning Level Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1300, 300],
      "notes": "Output 0: reminder (<14d), Output 1: first dunning (14-30d), Output 2: second dunning (30-60d), Output 3: final notice (>60d)"
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "dunning-level-label",
              "name": "dunning_level",
              "value": "={{ $json[\"days_overdue\"] < 14 ? 'Zahlungserinnerung' : $json[\"days_overdue\"] < 30 ? '1. Mahnung' : $json[\"days_overdue\"] < 60 ? '2. Mahnung' : 'Letzte Mahnung vor Inkasso' }}",
              "type": "string"
            },
            {
              "id": "new-mahnstufe",
              "name": "new_mahnstufe",
              "value": "={{ $json[\"days_overdue\"] < 14 ? 1 : $json[\"days_overdue\"] < 30 ? 2 : $json[\"days_overdue\"] < 60 ? 3 : 4 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "node-set-dunning-label",
      "name": "Set Dunning Level Label",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1520, 160],
      "notes": "Enriches item with human-readable dunning_level and numeric mahnstufe (maps to rechnungen.mahnstufe column)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein professioneller Buchhalter. Verfasse ein hoefliches, aber bestimmtes Mahnschreiben auf Deutsch. Stufe: {{ $json[\\\"dunning_level\\\"] }}. Verwende einen professionellen Ton, keine aggressiven Formulierungen. Einzlheiten im Format: Datum, Mahnstufe, Rechnungsnummer, Betrag, Faelligkeitsdatum, Zahlungsaufforderung, Kontoverbindung, Kontaktinformation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Erstelle ein Mahnschreiben:\\n- Mahnstufe: {{ $json[\\\"dunning_level\\\"] }}\\n- Rechnungs-ID: {{ $json[\\\"id\\\"] }}\\n- Rechnungsdatum: {{ $json[\\\"created_at\\\"] }}\\n- Faelligkeitsdatum: {{ $json[\\\"due_date_iso\\\"] }}\\n- Tage ueberfaellig: {{ $json[\\\"days_overdue\\\"] }}\\n- Betrag: {{ $json[\\\"brutto\\\"] }} EUR\\n- Kundenname: {{ $json[\\\"kunde_name\\\"] }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-generate-dunning-letter",
      "name": "Generate Dunning Letter (GPT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 160],
      "notes": "Generates dunning letter text via OpenAI. Uses OPENAI_API_KEY env var (set in n8n environment variables, not hardcoded).",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"PDF_GENERATION_WEBHOOK_URL\"] || 'http://backend:8001/pdf/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"dunning_letter\",\n  \"content\": \"{{ $json[\"choices\"] ? $json[\"choices\"][0][\"message\"][\"content\"] : 'Mahnschreiben konnte nicht generiert werden.' }}\",\n  \"rechnung_id\": \"{{ $node[\"Calculate Days Overdue\"].json[\"id\"] }}\",\n  \"dunning_level\": \"{{ $node[\"Set Dunning Level Label\"].json[\"dunning_level\"] }}\",\n  \"date\": \"{{ new Date().toLocaleDateString('de-DE') }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-generate-pdf",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 160],
      "continueOnFail": true,
      "notes": "Posts to PDF generation service. Returns { pdf_url: string }. Configure PDF_GENERATION_WEBHOOK_URL env var."
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "rechnungen",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"Calculate Days Overdue\"].json[\"id\"] }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "mahnstufe",
              "fieldValue": "={{ $node[\"Set Dunning Level Label\"].json[\"new_mahnstufe\"] }}"
            },
            {
              "fieldId": "letzte_mahnung",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "node-update-rechnung-dunning",
      "name": "UPDATE rechnungen (mahnstufe)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2180, 160],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "Updates rechnungen.mahnstufe and rechnungen.letzte_mahnung. Columns added via: ALTER TABLE rechnungen ADD COLUMN IF NOT EXISTS mahnstufe INTEGER DEFAULT 0; ALTER TABLE rechnungen ADD COLUMN IF NOT EXISTS letzte_mahnung TIMESTAMPTZ;"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "dunning.sent"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Calculate Days Overdue\"].json[\"id\"] }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ rechnung_id: $node[\"Calculate Days Overdue\"].json[\"id\"], dunning_level: $node[\"Set Dunning Level Label\"].json[\"dunning_level\"], mahnstufe: $node[\"Set Dunning Level Label\"].json[\"new_mahnstufe\"], days_overdue: $node[\"Calculate Days Overdue\"].json[\"days_overdue\"], brutto: $node[\"Calculate Days Overdue\"].json[\"brutto\"] }) }}"
            }
          ]
        }
      },
      "id": "node-log-dunning",
      "name": "INSERT automation_log (dunning)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2400, 160],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "Logs dunning action to automation_log table (exists in schema). Uses action='dunning.sent'."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "dunning.error"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $json[\"id\"] || 'unknown' }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ error: $json[\"error\"] || 'Unknown error', node: $runIndex, timestamp: new Date().toISOString() }) }}"
            }
          ]
        }
      },
      "id": "node-error-handler",
      "name": "Error Handler: Log to automation_log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1740, 480],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "Catches errors from any step and logs them to automation_log for debugging."
    }
  ],
  "connections": {
    "Daily 08:00 Berlin": {
      "main": [
        [
          {
            "node": "SELECT Overdue Rechnungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT Overdue Rechnungen": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Calculate Days Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days Overdue": {
      "main": [
        [
          {
            "node": "Is Overdue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Overdue?": {
      "main": [
        [
          {
            "node": "Dunning Level Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dunning Level Switch": {
      "main": [
        [
          {
            "node": "Set Dunning Level Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Dunning Level Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Dunning Level Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Dunning Level Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dunning Level Label": {
      "main": [
        [
          {
            "node": "Generate Dunning Letter (GPT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dunning Letter (GPT)": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "UPDATE rechnungen (mahnstufe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE rechnungen (mahnstufe)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (dunning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["dunning", "mahnwesen", "finance", "zone2"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Mahnwesen (Dunning) - FIXED v2\n\n### Audit Changes\n- FIXED: Table changed from 'invoices' to 'rechnungen' (correct Supabase schema table)\n- FIXED: Replaced $credentials.openAiApi.apiKey inline expression with $env[\"OPENAI_API_KEY\"] env var\n- FIXED: Column references updated to rechnungen schema (brutto, mahnstufe, letzte_mahnung instead of total, dunning_level, dunning_sent_at)\n- FIXED: Removed references to non-existent 'jobs_queue' table; replaced with automation_log (exists in schema)\n- ADDED: Is Overdue? IF node to skip invoices still within payment terms\n- ADDED: Error Handler node to log failures to automation_log\n- ADDED: continueOnFail on GPT and PDF nodes to prevent silent failures\n\n### Setup Required\n1. **Credentials**: Set up 'Supabase API' credential in n8n (Settings > Credentials > New > Supabase API)\n2. **Env Vars**: Set OPENAI_API_KEY and PDF_GENERATION_WEBHOOK_URL in n8n environment\n3. **Schema**: rechnungen table must have: mahnstufe INTEGER DEFAULT 0, letzte_mahnung TIMESTAMPTZ (added via migration in supabase-schema.sql)\n4. **Activate**: Toggle workflow to Active in n8n\n\n### Dunning Levels\n- < 14 days: Zahlungserinnerung (gentle reminder) -> mahnstufe=1\n- 14-30 days: 1. Mahnung (first notice) -> mahnstufe=2\n- 30-60 days: 2. Mahnung (second notice) -> mahnstufe=3\n- > 60 days: Letzte Mahnung vor Inkasso (final notice before collections) -> mahnstufe=4"
}
