config/n8n-workflows/workflow-finance-invoicing.json
{
  "name": "Rechnungseingang (Invoice Intake)",
  "nodes": [
    {
      "parameters": {
        "events": ["storage.object.created"],
        "bucket": "invoices",
        "additionalFields": {}
      },
      "id": "node-supabase-trigger",
      "name": "Supabase Storage Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "supabase-invoices-bucket-trigger",
      "notes": "Supabase Storage webhook: configure in Supabase Dashboard > Storage > Bucket 'invoices' > Webhooks. POST to this n8n webhook URL."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json[\"record\"][\"bucket_id\"] ? ('https://' + $env[\"SUPABASE_PROJECT_REF\"] + '.supabase.co/storage/v1/object/sign/' + $json[\"record\"][\"bucket_id\"] + '/' + $json[\"record\"][\"name\"]) : '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-file-url",
      "name": "Get Signed File URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8001/image/preprocess",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json[\"signedURL\"] }}"
            },
            {
              "name": "bucket",
              "value": "invoices"
            },
            {
              "name": "file_name",
              "value": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-preprocess-image",
      "name": "Preprocess Image (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8001/pii/sanitize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_base64",
              "value": "={{ $json[\"image_base64\"] }}"
            },
            {
              "name": "mime_type",
              "value": "={{ $json[\"mime_type\"] }}"
            },
            {
              "name": "context",
              "value": "invoice_ocr"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pii-sanitize",
      "name": "PII Sanitize (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract invoice data as JSON: {vendor, date, invoice_number, items:[{description, qty, unit_price, total}], subtotal, tax_rate, tax_amount, total, iban, payment_terms}. Return ONLY valid JSON. Include a confidence field (0.0-1.0) reflecting extraction certainty.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json[\"mime_type\"] }};base64,{{ $json[\"sanitized_image_base64\"] }}\",\n            \"detail\": \"high\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all invoice data from this document. Return structured JSON only.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-openai-vision",
      "name": "OpenAI GPT-4o Vision Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cred-openai-api",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8001/math/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-math-validate",
      "name": "Math Validate (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confidence-check",
              "leftValue": "={{ $json[\"confidence\"] }}",
              "rightValue": 0.95,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-confidence-check",
      "name": "Confidence >= 0.95?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "invoices",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "vendor",
              "fieldValue": "={{ $json[\"vendor\"] }}"
            },
            {
              "fieldId": "invoice_date",
              "fieldValue": "={{ $json[\"date\"] }}"
            },
            {
              "fieldId": "invoice_number",
              "fieldValue": "={{ $json[\"invoice_number\"] }}"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ JSON.stringify($json[\"items\"]) }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "={{ $json[\"subtotal\"] }}"
            },
            {
              "fieldId": "tax_rate",
              "fieldValue": "={{ $json[\"tax_rate\"] }}"
            },
            {
              "fieldId": "tax_amount",
              "fieldValue": "={{ $json[\"tax_amount\"] }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $json[\"total\"] }}"
            },
            {
              "fieldId": "iban",
              "fieldValue": "={{ $json[\"iban\"] }}"
            },
            {
              "fieldId": "payment_terms",
              "fieldValue": "={{ $json[\"payment_terms\"] }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json[\"confidence\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending_approval"
            },
            {
              "fieldId": "math_validated",
              "fieldValue": "={{ $json[\"math_valid\"] }}"
            },
            {
              "fieldId": "source_file",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-approved",
      "name": "Supabase INSERT invoice (approved)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 200],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "invoices",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "vendor",
              "fieldValue": "={{ $json[\"vendor\"] }}"
            },
            {
              "fieldId": "invoice_date",
              "fieldValue": "={{ $json[\"date\"] }}"
            },
            {
              "fieldId": "invoice_number",
              "fieldValue": "={{ $json[\"invoice_number\"] }}"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ JSON.stringify($json[\"items\"]) }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "={{ $json[\"subtotal\"] }}"
            },
            {
              "fieldId": "tax_rate",
              "fieldValue": "={{ $json[\"tax_rate\"] }}"
            },
            {
              "fieldId": "tax_amount",
              "fieldValue": "={{ $json[\"tax_amount\"] }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $json[\"total\"] }}"
            },
            {
              "fieldId": "iban",
              "fieldValue": "={{ $json[\"iban\"] }}"
            },
            {
              "fieldId": "payment_terms",
              "fieldValue": "={{ $json[\"payment_terms\"] }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json[\"confidence\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "needs_review"
            },
            {
              "fieldId": "math_validated",
              "fieldValue": "={{ $json[\"math_valid\"] }}"
            },
            {
              "fieldId": "source_file",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-review",
      "name": "Supabase INSERT invoice (needs_review)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 420],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "jobs_queue",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "job_type",
              "fieldValue": "invoice_ocr"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ source_file: $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"], invoice_number: $json[\"invoice_number\"], confidence: $json[\"confidence\"] }) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "node-jobs-queue-approved",
      "name": "INSERT jobs_queue (approved)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "jobs_queue",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "job_type",
              "fieldValue": "invoice_ocr"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "payload",
              "fieldValue": "={{ JSON.stringify({ source_file: $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"], invoice_number: $json[\"invoice_number\"], confidence: $json[\"confidence\"], review_required: true }) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "node-jobs-queue-review",
      "name": "INSERT jobs_queue (needs_review)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 420],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"PUSH_NOTIFICATION_WEBHOOK_URL\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "New Invoice Requires Review"
            },
            {
              "name": "message",
              "value": "=Invoice {{ $json[\"invoice_number\"] }} from {{ $json[\"vendor\"] }} has low confidence ({{ ($json[\"confidence\"] * 100).toFixed(1) }}%) and needs manual review."
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "node-push-notification",
      "name": "Push Notification (needs_review)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 420],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Supabase Storage Trigger": {
      "main": [
        [
          {
            "node": "Get Signed File URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed File URL": {
      "main": [
        [
          {
            "node": "Preprocess Image (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Image (Zone 2)": {
      "main": [
        [
          {
            "node": "PII Sanitize (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Sanitize (Zone 2)": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o Vision Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o Vision Extract": {
      "main": [
        [
          {
            "node": "Math Validate (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math Validate (Zone 2)": {
      "main": [
        [
          {
            "node": "Confidence >= 0.95?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence >= 0.95?": {
      "main": [
        [
          {
            "node": "Supabase INSERT invoice (approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase INSERT invoice (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase INSERT invoice (approved)": {
      "main": [
        [
          {
            "node": "INSERT jobs_queue (approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase INSERT invoice (needs_review)": {
      "main": [
        [
          {
            "node": "INSERT jobs_queue (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT jobs_queue (needs_review)": {
      "main": [
        [
          {
            "node": "Push Notification (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["finance", "invoicing", "ocr", "zone2"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Rechnungseingang (Invoice Intake)\n\n### Setup Required\n1. **Supabase Storage Webhook**: Go to Supabase Dashboard > Storage > Buckets > 'invoices' > Configure webhook to POST to this n8n webhook URL.\n2. **Credentials**: Set up 'Supabase API' and 'OpenAI API Key' credentials in n8n.\n3. **Env Vars**: Set SUPABASE_PROJECT_REF, SUPABASE_SERVICE_ROLE_KEY, PUSH_NOTIFICATION_WEBHOOK_URL in n8n environment.\n4. **Zone 2 Services**: Ensure backend:8001 is reachable from n8n Docker network.\n\n### Flow\nStorage upload -> signed URL -> image preprocess -> PII sanitize -> GPT-4o-mini vision OCR -> math validation -> confidence routing -> Supabase INSERT -> jobs_queue log -> optional push notification"
}
