config/n8n-workflows/workflow-finance-invoicing.json
{
  "name": "Rechnungseingang (Invoice Intake)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supabase-invoices-storage",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-supabase-trigger",
      "name": "Supabase Storage Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "supabase-invoices-bucket-trigger",
      "notes": "Supabase Storage webhook: configure in Supabase Dashboard > Storage > Bucket 'invoices' > Webhooks. POST to this n8n webhook URL. Payload: { type, table, record: { bucket_id, name, owner, created_at, updated_at, last_accessed_at, metadata } }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env[\"SUPABASE_PROJECT_REF\"] }}.supabase.co/storage/v1/object/sign/{{ $json[\"record\"][\"bucket_id\"] }}/{{ $json[\"record\"][\"name\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"expiresIn\": 3600 }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-get-file-url",
      "name": "Get Signed File URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": false,
      "notes": "FIXED: Changed to POST /object/sign/:bucket/:path which is the correct Supabase Storage signed URL endpoint. Returns { signedURL: string }. Uses SUPABASE_PROJECT_REF and SUPABASE_SERVICE_ROLE_KEY env vars."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"BACKEND_URL\"] || 'http://backend:8001' }}/image/preprocess",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json[\"signedURL\"] }}"
            },
            {
              "name": "bucket",
              "value": "invoices"
            },
            {
              "name": "file_name",
              "value": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-preprocess-image",
      "name": "Preprocess Image (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "continueOnFail": false,
      "notes": "FIXED: Hardcoded 'http://backend:8001' replaced with $env[\"BACKEND_URL\"] || fallback. Set BACKEND_URL env var in n8n to your Zone 2 backend URL."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"BACKEND_URL\"] || 'http://backend:8001' }}/pii/sanitize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_base64",
              "value": "={{ $json[\"image_base64\"] }}"
            },
            {
              "name": "mime_type",
              "value": "={{ $json[\"mime_type\"] }}"
            },
            {
              "name": "context",
              "value": "invoice_ocr"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-pii-sanitize",
      "name": "PII Sanitize (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "continueOnFail": false,
      "notes": "FIXED: Hardcoded backend URL replaced with BACKEND_URL env var."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract invoice data as JSON: {vendor, date, invoice_number, items:[{description, qty, unit_price, total}], subtotal, tax_rate, tax_amount, total, iban, payment_terms}. Return ONLY valid JSON. Include a confidence field (0.0-1.0) reflecting extraction certainty.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json[\"mime_type\"] }};base64,{{ $json[\"sanitized_image_base64\"] }}\",\n            \"detail\": \"high\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all invoice data from this document. Return structured JSON only.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-openai-vision",
      "name": "OpenAI GPT-4o Vision Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "continueOnFail": true,
      "notes": "FIXED: Replaced $credentials.openAiApi.apiKey inline expression with $env[\"OPENAI_API_KEY\"]. continueOnFail=true so errors route to low-confidence path."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"BACKEND_URL\"] || 'http://backend:8001' }}/math/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json[\"choices\"] ? JSON.stringify(JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])) : JSON.stringify({ error: true, confidence: 0, math_valid: false }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-math-validate",
      "name": "Math Validate (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "continueOnFail": true,
      "notes": "FIXED: Backend URL uses BACKEND_URL env var. Safe JSON parse with fallback for when GPT extraction failed."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confidence-check",
              "leftValue": "={{ $json[\"confidence\"] || 0 }}",
              "rightValue": 0.95,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-confidence-check",
      "name": "Confidence >= 0.95?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "notes": "Routes to approved path (true) or needs_review path (false). Defaults to false if confidence is missing."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "dokumente",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "dateiname",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "kategorie",
              "fieldValue": "rechnung_eingang"
            },
            {
              "fieldId": "storage_path",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"bucket_id\"] + '/' + $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "extrahierte_daten",
              "fieldValue": "={{ JSON.stringify({ vendor: $json[\"vendor\"], invoice_number: $json[\"invoice_number\"], date: $json[\"date\"], total: $json[\"total\"], iban: $json[\"iban\"], confidence: $json[\"confidence\"], math_valid: $json[\"math_valid\"], status: 'pending_approval', ocr_engine: 'gpt-4o-vision' }) }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-approved",
      "name": "INSERT dokumente (approved)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 180],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Table changed from non-existent 'invoices' to 'dokumente' (correct schema table). Extracted OCR data stored in extrahierte_daten JSONB column. For full invoice creation, also insert into 'rechnungen' table using a separate node."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "dokumente",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "dateiname",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "kategorie",
              "fieldValue": "rechnung_eingang_review"
            },
            {
              "fieldId": "storage_path",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"bucket_id\"] + '/' + $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "extrahierte_daten",
              "fieldValue": "={{ JSON.stringify({ vendor: $json[\"vendor\"], invoice_number: $json[\"invoice_number\"], date: $json[\"date\"], total: $json[\"total\"], iban: $json[\"iban\"], confidence: $json[\"confidence\"] || 0, math_valid: $json[\"math_valid\"] || false, status: 'needs_review', review_required: true, ocr_engine: 'gpt-4o-vision' }) }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-review",
      "name": "INSERT dokumente (needs_review)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 420],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Table changed from 'invoices' to 'dokumente'. Extracted data stored in extrahierte_daten JSONB with review_required flag."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "invoice_ocr.completed"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ source_file: $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"], invoice_number: $json[\"invoice_number\"], confidence: $json[\"confidence\"], status: 'approved' }) }}"
            }
          ]
        }
      },
      "id": "node-log-approved",
      "name": "INSERT automation_log (approved)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 180],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Uses automation_log (exists in schema) instead of non-existent jobs_queue."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "invoice_ocr.needs_review"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ source_file: $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"], invoice_number: $json[\"invoice_number\"], confidence: $json[\"confidence\"] || 0, review_required: true }) }}"
            }
          ]
        }
      },
      "id": "node-log-review",
      "name": "INSERT automation_log (needs_review)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 420],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Uses automation_log instead of non-existent jobs_queue."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"PUSH_NOTIFICATION_WEBHOOK_URL\"] || ($env[\"BACKEND_URL\"] || 'http://backend:8001') + '/notify/push' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Rechnung: Manuelle Pruefung erforderlich"
            },
            {
              "name": "message",
              "value": "=Datei {{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] }} hat niedrige OCR-Konfidenz ({{ (($json[\"confidence\"] || 0) * 100).toFixed(1) }}%) und benoetigt manuelle Pruefung."
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "node-push-notification",
      "name": "Push Notification (needs_review)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 420],
      "continueOnFail": true,
      "notes": "FIXED: Notification URL now uses PUSH_NOTIFICATION_WEBHOOK_URL env var with fallback to BACKEND_URL."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "invoice_ocr.error"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Supabase Storage Trigger\"].json[\"record\"][\"name\"] || 'unknown' }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ error: $json[\"error\"] || 'Processing failed', timestamp: new Date().toISOString() }) }}"
            }
          ]
        }
      },
      "id": "node-error-handler",
      "name": "Error Handler: Log to automation_log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 540],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "ADDED: Error handler node to catch and log failures from any step in the pipeline."
    }
  ],
  "connections": {
    "Supabase Storage Trigger": {
      "main": [
        [
          {
            "node": "Get Signed File URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed File URL": {
      "main": [
        [
          {
            "node": "Preprocess Image (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess Image (Zone 2)": {
      "main": [
        [
          {
            "node": "PII Sanitize (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PII Sanitize (Zone 2)": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o Vision Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o Vision Extract": {
      "main": [
        [
          {
            "node": "Math Validate (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math Validate (Zone 2)": {
      "main": [
        [
          {
            "node": "Confidence >= 0.95?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence >= 0.95?": {
      "main": [
        [
          {
            "node": "INSERT dokumente (approved)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT dokumente (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT dokumente (approved)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT dokumente (needs_review)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT automation_log (needs_review)": {
      "main": [
        [
          {
            "node": "Push Notification (needs_review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["finance", "invoicing", "ocr", "zone2"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Rechnungseingang (Invoice Intake) - FIXED v2\n\n### Audit Changes\n- FIXED: Table 'invoices' does not exist in schema. Changed to 'dokumente' (correct schema table for document metadata)\n- FIXED: Extracted OCR data stored in extrahierte_daten JSONB column instead of non-existent columns (vendor, invoice_number, total, etc.)\n- FIXED: jobs_queue table does not exist. Replaced with automation_log\n- FIXED: Hardcoded backend URLs (http://backend:8001) replaced with $env[\"BACKEND_URL\"] || fallback\n- FIXED: Signed URL endpoint changed from GET to POST /object/sign which is the correct Supabase Storage API\n- FIXED: OpenAI inline credential expression replaced with $env[\"OPENAI_API_KEY\"] env var\n- FIXED: Safe JSON parse with fallback for failed GPT response\n- ADDED: continueOnFail on GPT and math validation nodes\n- ADDED: Error handler node\n\n### Setup Required\n1. **Supabase Storage Webhook**: Go to Supabase Dashboard > Storage > Buckets > 'invoices' > Configure webhook to POST to this n8n webhook URL\n2. **Credentials**: Set up 'Supabase API' in n8n\n3. **Env Vars**: Set SUPABASE_PROJECT_REF, SUPABASE_SERVICE_ROLE_KEY, OPENAI_API_KEY, BACKEND_URL, PUSH_NOTIFICATION_WEBHOOK_URL\n4. **Zone 2 Services**: Ensure BACKEND_URL is reachable from n8n Docker network\n\n### Flow\nStorage upload -> signed URL -> image preprocess -> PII sanitize -> GPT-4o-mini vision OCR -> math validation -> confidence routing -> dokumente INSERT -> automation_log -> optional push notification"
}
