config/n8n-workflows/workflow-backup-alert.json
{
  "name": "Zone 3 Health Monitoring & Backup Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Runs every 5 minutes. CRON: */5 * * * *. Monitors all Zone 3 (Raspberry Pi 4) services via Tailscale."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://uptime-kuma-pi4:3001/api/status-page/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": true
            }
          }
        }
      },
      "id": "node-fetch-uptime-status",
      "name": "GET Uptime Kuma Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 180],
      "continueOnFail": true,
      "notes": "Fetches Uptime Kuma status page via Tailscale hostname 'uptime-kuma-pi4'. If Tailscale is down, this will fail and trigger alert."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env[\"BACKEND_URL\"] || 'http://backend:8001') + '/health' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": true
            }
          }
        }
      },
      "id": "node-check-backend",
      "name": "GET Backend Health (Zone 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420],
      "continueOnFail": true,
      "notes": "FIXED: Backend URL now uses BACKEND_URL env var with fallback. Checks Zone 2 Python backend service health endpoint."
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node-merge-health",
      "name": "Merge Health Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "uptime-kuma-ok",
              "name": "uptime_kuma_ok",
              "value": "={{ $input.all()[0].json[\"statusCode\"] === 200 && !$input.all()[0].json[\"error\"] }}",
              "type": "boolean"
            },
            {
              "id": "backend-ok",
              "name": "backend_ok",
              "value": "={{ $input.all()[1].json[\"statusCode\"] === 200 && !$input.all()[1].json[\"error\"] }}",
              "type": "boolean"
            },
            {
              "id": "uptime-kuma-status",
              "name": "uptime_kuma_status_code",
              "value": "={{ $input.all()[0].json[\"statusCode\"] || 0 }}",
              "type": "number"
            },
            {
              "id": "backend-status",
              "name": "backend_status_code",
              "value": "={{ $input.all()[1].json[\"statusCode\"] || 0 }}",
              "type": "number"
            },
            {
              "id": "uptime-monitors",
              "name": "uptime_monitors",
              "value": "={{ $input.all()[0].json[\"body\"] ? $input.all()[0].json[\"body\"][\"monitorList\"] : null }}",
              "type": "object"
            },
            {
              "id": "check-timestamp",
              "name": "check_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "node-evaluate-health",
      "name": "Evaluate Health Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "any-down",
              "name": "any_service_down",
              "value": "={{ !$json[\"uptime_kuma_ok\"] || !$json[\"backend_ok\"] || ($json[\"uptime_monitors\"] && Object.values($json[\"uptime_monitors\"]).some(m => m.status !== 1 && m.status !== 'up')) }}",
              "type": "boolean"
            },
            {
              "id": "down-services",
              "name": "down_services",
              "value": "={{ (() => { const down = []; if (!$json[\"uptime_kuma_ok\"]) down.push('uptime-kuma (Pi4 unreachable via Tailscale)'); if (!$json[\"backend_ok\"]) down.push('backend:8001 (Zone 2 Python API)'); if ($json[\"uptime_monitors\"]) { Object.entries($json[\"uptime_monitors\"]).forEach(([k,m]) => { if (m.status !== 1 && m.status !== 'up') down.push(m.name || k); }); } return down; })() }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "node-detect-outages",
      "name": "Detect Service Outages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "any-down-check",
              "leftValue": "={{ $json[\"any_service_down\"] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-any-service-down",
      "name": "Any Service Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env[\"TELEGRAM_BOT_TOKEN\"] }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env[\"TELEGRAM_CTO_CHAT_ID\"] }}\",\n  \"text\": \"ALERT: Service Outage Detected\\n\\nTime: {{ $json[\"check_timestamp\"] }}\\nDown Services:\\n{{ $json[\"down_services\"].map(s => '- ' + s).join('\\n') }}\\n\\nStatus Summary:\\n- Uptime Kuma (Pi4): {{ $json[\"uptime_kuma_ok\"] ? 'OK' : 'DOWN' }}\\n- Backend Zone 2: {{ $json[\"backend_ok\"] ? 'OK' : 'DOWN' }}\\n\\nPlease investigate immediately.\",\n  \"parse_mode\": \"HTML\",\n  \"disable_notification\": false\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-telegram-alert",
      "name": "Telegram Alert to CTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 140],
      "continueOnFail": true,
      "notes": "Sends Telegram message to CTO. Requires TELEGRAM_BOT_TOKEN and TELEGRAM_CTO_CHAT_ID env vars. FIXED: parse_mode changed from Markdown to HTML to avoid Markdown escape issues in n8n expressions."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env[\"ALERT_EMAIL_WEBHOOK_URL\"] || ($env[\"BACKEND_URL\"] || 'http://backend:8001') + '/notify/email' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $env[\"CTO_EMAIL\"] }}\",\n  \"subject\": \"[ALERT] FreyAI Service Outage - {{ $json[\"down_services\"].length }} service(s) down\",\n  \"body\": \"Service outage detected at {{ $json[\"check_timestamp\"] }}.\\n\\nDown services:\\n{{ $json[\"down_services\"].join('\\n') }}\\n\\nStatus:\\n- Uptime Kuma (Pi4 Tailscale): {{ $json[\"uptime_kuma_ok\"] ? 'OK' : 'DOWN' }}\\n- Backend Zone 2 API: {{ $json[\"backend_ok\"] ? 'OK' : 'DOWN' }}\\n\\nPlease check the dashboard immediately.\",\n  \"priority\": \"urgent\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-email-alert",
      "name": "Email Alert to CTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "continueOnFail": true,
      "notes": "FIXED: Uses ALERT_EMAIL_WEBHOOK_URL env var with fallback to BACKEND_URL/notify/email. Requires CTO_EMAIL env var."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "notifications",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "type",
              "fieldValue": "service_outage"
            },
            {
              "fieldId": "title",
              "fieldValue": "Service Outage Detected"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Down services: ' + $json[\"down_services\"].join(', ') + ' | Uptime Kuma: ' + ($json[\"uptime_kuma_ok\"] ? 'OK' : 'DOWN') + ' | Backend: ' + ($json[\"backend_ok\"] ? 'OK' : 'DOWN') }}"
            },
            {
              "fieldId": "read",
              "fieldValue": false
            }
          ]
        }
      },
      "id": "node-log-outage",
      "name": "Log Outage to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 220],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Removed non-existent columns: severity, details, alerted_at, alert_sent. Notifications table schema: id, user_id, title, message, type, read, created_at. Down service details now included in message field."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "notifications",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "type",
              "fieldValue": "health_check"
            },
            {
              "fieldId": "title",
              "fieldValue": "Health Check OK"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'All services healthy at ' + $json[\"check_timestamp\"] + ' | Uptime Kuma: ' + $json[\"uptime_kuma_status_code\"] + ' | Backend: ' + $json[\"backend_status_code\"] }}"
            },
            {
              "fieldId": "read",
              "fieldValue": true
            }
          ]
        }
      },
      "id": "node-log-healthy",
      "name": "Log Healthy Status to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 480],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Removed non-existent columns: severity, details, alerted_at, alert_sent. Maps to actual notifications schema. NOTE: read=true means healthy checks are pre-marked as read to avoid UI clutter. Consider logging only every Nth check (e.g. every 30 min) to avoid excessive Supabase rows."
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "GET Uptime Kuma Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Backend Health (Zone 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Uptime Kuma Status": {
      "main": [
        [
          {
            "node": "Merge Health Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Backend Health (Zone 2)": {
      "main": [
        [
          {
            "node": "Merge Health Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Health Results": {
      "main": [
        [
          {
            "node": "Evaluate Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Health Status": {
      "main": [
        [
          {
            "node": "Detect Service Outages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Service Outages": {
      "main": [
        [
          {
            "node": "Any Service Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Service Down?": {
      "main": [
        [
          {
            "node": "Telegram Alert to CTO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert to CTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Healthy Status to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert to CTO": {
      "main": [
        [
          {
            "node": "Log Outage to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Alert to CTO": {
      "main": [
        [
          {
            "node": "Log Outage to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["monitoring", "alerting", "health-check", "zone3", "backup", "tailscale"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Zone 3 Health Monitoring & Backup Alerts - FIXED v2\n\n### Audit Changes\n- FIXED: notifications table INSERT was referencing non-existent columns: severity, details, alerted_at, alert_sent. Schema only has: id, user_id, title, message, type, read, created_at\n- FIXED: Down service details and status info moved into message field (concatenated string)\n- FIXED: read=false for outage notifications (shows in UI), read=true for healthy checks (auto-dismissed)\n- FIXED: Backend URL now uses BACKEND_URL env var with fallback for email alert endpoint\n- FIXED: Telegram parse_mode changed from Markdown to HTML to avoid expression conflicts\n- NOTE: The Log Outage node receives from both Telegram and Email alert nodes; this may insert duplicate records. Consider using a Merge or Wait node if deduplication is needed.\n\n### Setup Required\n1. **Tailscale**: Ensure n8n Docker container can resolve 'uptime-kuma-pi4' via Tailscale MagicDNS\n2. **Telegram**: Create bot via @BotFather. Set TELEGRAM_BOT_TOKEN and TELEGRAM_CTO_CHAT_ID env vars\n3. **Email**: Set ALERT_EMAIL_WEBHOOK_URL and CTO_EMAIL env vars\n4. **Backend**: Set BACKEND_URL env var\n5. **Supabase**: Set up 'Supabase API' credential in n8n\n\n### Services Monitored\n- Uptime Kuma on Raspberry Pi 4 (Zone 3) via Tailscale: http://uptime-kuma-pi4:3001\n- Backend Zone 2 Python API: $env[\"BACKEND_URL\"]/health\n- All monitors registered in Uptime Kuma status page 'main'\n\n### Alert Channels\n1. Telegram message to CTO chat\n2. Email via backend notification service\n3. Supabase notifications table log (visible in app UI)"
}
