config/n8n-workflows/workflow-communication.json
{
  "name": "Kommunikation & Terminplanung (Communication & Scheduling)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "communication-intake",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook-trigger",
      "name": "Communication Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "communication-intake-webhook",
      "notes": "Receives POSTs from email parser (e.g. Postmark inbound) or WhatsApp gateway. Payload: { channel, sender_email, sender_name, subject, body, attachments[] }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Classify the intent of the incoming message. Return JSON with fields: { intent: string, confidence: number, language: string, urgency: string, summary: string }. Intent must be exactly one of: appointment_request, quote_request, complaint, payment, general, spam. Urgency: low/medium/high. Confidence: 0.0-1.0.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Channel: {{ $json.body.channel }}\\nFrom: {{ $json.body.sender_name }} <{{ $json.body.sender_email }}>\\nSubject: {{ $json.body.subject }}\\nMessage:\\n{{ $json.body.body }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-intent-analysis",
      "name": "OpenAI Intent Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true,
      "notes": "Calls OpenAI via OPENAI_API_KEY env var (not hardcoded). continueOnFail ensures error path is handled."
    },
    {
      "parameters": {
        "mode": "expression",
        "assignments": {
          "assignments": [
            {
              "id": "intent-field",
              "name": "intent",
              "value": "={{ $json[\"choices\"] ? JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"intent\"] : 'general' }}",
              "type": "string"
            },
            {
              "id": "confidence-field",
              "name": "confidence",
              "value": "={{ $json[\"choices\"] ? JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"confidence\"] : 0 }}",
              "type": "number"
            },
            {
              "id": "summary-field",
              "name": "ai_summary",
              "value": "={{ $json[\"choices\"] ? JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"summary\"] : '' }}",
              "type": "string"
            },
            {
              "id": "urgency-field",
              "name": "urgency",
              "value": "={{ $json[\"choices\"] ? JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"urgency\"] : 'low' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "node-extract-intent",
      "name": "Extract Intent Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300],
      "notes": "FIXED: Extracts individual fields from GPT JSON response. Falls back to 'general' intent if GPT call failed (continueOnFail). Removed deprecated 'output' mode."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "appointment_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "quote_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "quote_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "payment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"intent\"] }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "node-intent-switch",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300],
      "notes": "FIXED: Now routes on $json['intent'] field (extracted by Extract Intent Fields node). Output 0=appointment, 1=quote, 2=complaint, 3=payment, 4=spam, fallback=general."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/freebusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeMin\": \"{{ new Date().toISOString() }}\",\n  \"timeMax\": \"{{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString() }}\",\n  \"timeZone\": \"Europe/Berlin\",\n  \"items\": [{\"id\": \"primary\"}]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-gcal-freebusy",
      "name": "Google Calendar Free/Busy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "cred-google-calendar",
          "name": "Google Calendar OAuth2"
        }
      },
      "continueOnFail": true,
      "notes": "FIXED: Uses predefined Google Calendar OAuth2 credential type. Token injected automatically by n8n. Method changed from GET+body to proper freebusy query."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein professioneller Assistent. Verfasse eine freundliche, professionelle E-Mail-Antwort auf Deutsch. Biete genau 2 Terminvorschlaege an. Sei hoeflich und praezise. Schliesse mit einer Bitte um Bestaetigung ab.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Urspruengliche Anfrage von {{ $node[\"Communication Webhook\"].json.body.sender_name }}: {{ $node[\"Communication Webhook\"].json.body.body }}\\n\\nVerfuegbare Zeitfenster (naechste 2 Wochen):\\n{{ JSON.stringify($json) }}\\n\\nBitte verfasse eine Antwort-E-Mail mit 2 konkreten Terminvorschlaegen.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-draft-appointment-reply",
      "name": "Draft Appointment Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100],
      "continueOnFail": true,
      "notes": "FIXED: Uses OPENAI_API_KEY env var instead of inline credential expression."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env[\"OPENAI_API_KEY\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein professioneller Assistent. Verfasse eine freundliche, professionelle Antwort auf Deutsch fuer die jeweilige Anfrage. Passe Ton und Inhalt der Anfrageart an (Angebot, Beschwerde, Zahlung, Allgemein).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Anfrageart: {{ $node[\"Extract Intent Fields\"].json.intent }}\\nVon: {{ $node[\"Communication Webhook\"].json.body.sender_name }}\\nBetreff: {{ $node[\"Communication Webhook\"].json.body.subject }}\\nNachricht: {{ $node[\"Communication Webhook\"].json.body.body }}\\n\\nBitte verfasse eine professionelle Antwort.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-draft-general-reply",
      "name": "Draft General Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380],
      "continueOnFail": true,
      "notes": "FIXED: Uses OPENAI_API_KEY env var. References Extract Intent Fields node (renamed from Extract Intent)."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "communication_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.channel || 'email' }}"
            },
            {
              "fieldId": "kunde_name",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_name }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.body }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "status",
              "fieldValue": "delivered"
            },
            {
              "fieldId": "template_id",
              "fieldValue": "={{ $node[\"Extract Intent Fields\"].json.intent }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-comm-appt",
      "name": "INSERT communication_log (appointment)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 100],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Table changed from 'communications' to 'communication_log' (correct schema table). Columns mapped to: channel, kunde_name, message, direction, status, template_id."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "communication_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "channel",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.channel || 'email' }}"
            },
            {
              "fieldId": "kunde_name",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_name }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.body }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "status",
              "fieldValue": "delivered"
            },
            {
              "fieldId": "template_id",
              "fieldValue": "={{ $node[\"Extract Intent Fields\"].json.intent }}"
            }
          ]
        }
      },
      "id": "node-supabase-insert-comm-general",
      "name": "INSERT communication_log (general)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 380],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Table changed from 'communications' to 'communication_log'. Columns mapped correctly."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "communication.processed"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_email }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ intent: $node[\"Extract Intent Fields\"].json.intent, confidence: $node[\"Extract Intent Fields\"].json.confidence, channel: $node[\"Communication Webhook\"].json.body.channel, urgency: $node[\"Extract Intent Fields\"].json.urgency }) }}"
            }
          ]
        }
      },
      "id": "node-log-comm-appt",
      "name": "INSERT automation_log (appointment processed)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 100],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Uses automation_log table (exists in schema) instead of non-existent jobs_queue."
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "automation_log",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "action",
              "fieldValue": "communication.processed"
            },
            {
              "fieldId": "target",
              "fieldValue": "={{ $node[\"Communication Webhook\"].json.body.sender_email }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ intent: $node[\"Extract Intent Fields\"].json.intent, confidence: $node[\"Extract Intent Fields\"].json.confidence, channel: $node[\"Communication Webhook\"].json.body.channel, urgency: $node[\"Extract Intent Fields\"].json.urgency }) }}"
            }
          ]
        }
      },
      "id": "node-log-comm-general",
      "name": "INSERT automation_log (general processed)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 380],
      "credentials": {
        "supabaseApi": {
          "id": "cred-supabase-api",
          "name": "Supabase API"
        }
      },
      "notes": "FIXED: Uses automation_log table instead of non-existent jobs_queue."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'received', intent: $node[\"Extract Intent Fields\"].json.intent, message: 'Communication processed successfully' }) }}"
      },
      "id": "node-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 560],
      "notes": "FIXED: responseBody now uses proper JSON.stringify expression instead of template literal with embedded quotes."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Processing failed', intent: 'unknown' }) }}"
      },
      "id": "node-respond-webhook-error",
      "name": "Respond to Webhook (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 560],
      "notes": "ADDED: Error response node for cases where intent analysis completely fails."
    }
  ],
  "connections": {
    "Communication Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Intent Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Intent Analysis": {
      "main": [
        [
          {
            "node": "Extract Intent Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent Fields": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Google Calendar Free/Busy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft General Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Free/Busy": {
      "main": [
        [
          {
            "node": "Draft Appointment Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Appointment Reply": {
      "main": [
        [
          {
            "node": "INSERT communication_log (appointment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft General Reply": {
      "main": [
        [
          {
            "node": "INSERT communication_log (general)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT communication_log (appointment)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (appointment processed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT communication_log (general)": {
      "main": [
        [
          {
            "node": "INSERT automation_log (general processed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT automation_log (appointment processed)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT automation_log (general processed)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["communication", "scheduling", "email", "intent", "zone2"],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T00:00:00.000Z",
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "freyai-hetzner-vps"
  },
  "pinData": {},
  "notes": "## Kommunikation & Terminplanung - FIXED v2\n\n### Audit Changes\n- FIXED: All $credentials.openAiApi.apiKey inline expressions replaced with $env[\"OPENAI_API_KEY\"]\n- FIXED: Table 'communications' does not exist in schema. Changed to 'communication_log' (correct table)\n- FIXED: Column mapping updated: channel, kunde_name, message, direction, status, template_id (matches communication_log schema)\n- FIXED: Extract Intent node was using deprecated 'output' mode. Replaced with proper field assignments extracting intent, confidence, summary, urgency from GPT JSON response\n- FIXED: Route by Intent switch now references $json['intent'] field (not $json['output'])\n- FIXED: jobs_queue table does not exist in schema. Replaced with automation_log (exists in schema)\n- FIXED: Google Calendar node now uses predefined credential type instead of inline token\n- ADDED: continueOnFail on GPT/Calendar nodes\n- ADDED: Error response node for webhook failures\n\n### Setup Required\n1. **Webhook URL**: Configure your email parser (e.g. Postmark, Mailgun) or WhatsApp gateway to POST to the n8n webhook URL\n2. **Credentials**: Set up 'Supabase API' and 'Google Calendar OAuth2' credentials in n8n\n3. **Env Vars**: Set OPENAI_API_KEY in n8n environment variables\n4. **Switch routing**: Output 0=appointment, 1=quote, 2=complaint, 3=payment, 4=spam, fallback=general\n\n### Flow\nWebhook -> GPT-4o intent classification -> Switch routing -> Google Calendar (appointments only) -> GPT-4o draft reply -> communication_log INSERT -> automation_log log -> Webhook response"
}
